
 <nav class="navbar navbar-expand-lg navbar-dark sticky-top " style="background-color: #374B56; ">
    <div class="container">
      <a class="navbar-brand" (click)="GoToProducts()"><img class="img-fluid" height="auto" width="150px" src="../../../../../assets/images/logo.png"></a>
   
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
        <div class="d-flex mx-lg-auto"  *ngIf="showSearch == true">
          <input #search class="form-control me-2 searchInput" type="search" placeholder="Search" aria-label="Search">
          <button class="btn search" style="color: white;">      <mat-icon (click)="Search(search.value)">search</mat-icon>
          </button>
        </div>
      </div>
      <button type="button" *ngIf="isAdmin == true " class="btn btn-success m-4" (click)="NavigateToAdmin()">Admin</button>
      <mat-icon class="orderIcon" (click)="GoToOrders()"  *ngIf="isAdmin == false"> local_shipping</mat-icon>
      <mat-icon (click)="GoToCart()" class="Logout"  *ngIf="isAdmin == false">add_shopping_cart</mat-icon>
      <mat-icon class="Logout" (click)="logOut()" *ngIf="isLoggedIn">exit_to_app</mat-icon>
    </div>
  </nav>