
.Logout{
    color:white;
    margin-right:20px;
    text-decoration:none;
}
.orderIcon{
    color: white;
    margin-right:20px;

}
div.disabled{
    display:none;
}
.translate{
    color:white;
    margin-right:20px;
    text-decoration:none;
}