<app-header></app-header>
<div class="d-flex mx-lg-auto searchInput">
  <input #search class="form-control me-2 searchInput" type="search" i18n-placeholder placeholder="Search" aria-label="Search">
  <button class="btn search" style="color: white;">      <mat-icon (click)="filterWithProductName(search.value)">search</mat-icon>
  </button>
</div>

<div class="container prodContainer">
    <div class="row">
        <div
          *ngFor="let product of productsReadDto "
          class="col-lg-4 col-md-6 text-center product">
          <div class="product-image">
            <img class="card-img-top" width="200px" height="200px" src="{{ ServerBase }}{{ product.image }}" />
          </div>
          <h3 class="prodName" i18n *ngIf="locale=='en-US'">{{ product.englishName }}</h3>
          <h3 class="prodName" i18n *ngIf="locale=='ar-EG'">{{ product.arabicName }}</h3>
          <h3 class="prodName" i18n>{{ product.category.name }}</h3>
          <p class="product-price" i18n><span>Per Kg</span> {{ product.unitPrice }}$</p>
          <button  [disabled]="isAdmin==true" [class.disabled]="isProductAdded(product)"  id="{{product.id}}" (click)="AddToCart($event.target,product)" class="cart-btn"><mat-icon id="{{product.id}}" class="icon">add_shopping_cart</mat-icon><p id="{{product.id}}" class="addToCart"i18n>Add to cart</p></button>
        </div>
      </div>
</div>





<!-- <pagination-controls class="pagi"(pageChange)="GetProducts($event,'')"></pagination-controls> -->

