<app-header></app-header>

<div>
    <table class="basetable">
        <thead class="thead">
          <tr class="theadTr" >
            <th scope="col" ><mat-icon class="count" >check_circle</mat-icon></th>
            <th scope="col" i18n>Order Shippment Address</th>
            <th scope="col" i18n>Total Price</th>
            <th scope="col" i18n>Payment Method</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let order of orderHistoryReadDto">
            <td class="modal"><a (click)="openOrderDetailes(order)">{{order.id}}</a></td>
            <td i18n>{{order.shippmentAddress}}</td>
            <td i18n>{{order.totalPrice}}</td>
            <td i18n>{{order.paymentMethod}}</td>

          </tr>
        </tbody>
      </table>

      
</div>    

<ngx-smart-modal #openOrderDetailesModal identifier="openOrderDetailesModal">
  <table class="modaltable" >
    <thead class="thead">
      <tr class="theadTr" >
        <th scope="col" i18n>Product Image</th>
        <th scope="col" i18n>Name</th>
        <th scope="col" i18n>Price</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let product of ordertoShow?.products">
        <td>  <div class="product-image"><img class="card-img-top" width="30px" height="50px" src="{{ ServerBase }}{{ product.image}}" /></div></td>
        <td i18n>{{product.englishName}}</td>
        <td i18n>{{product.unitPrice}}</td>
      </tr>
    </tbody>
  </table>

</ngx-smart-modal>

