<app-header></app-header>
<div class="col-6">
    <table >
      <thead class="thead">
        <tr class="theadTr" >
          <mat-icon class="count" >check_circle</mat-icon><th scope="col" i18n>Order Details</th>
        </tr>
      </thead>
      <tbody >
        <tr >

            <td><mat-icon> location_on</mat-icon><input #ShipmentAddress i18n-placeholder placeholder="Shipment Address"></td>
        </tr>
        <tr >
            <td><mat-icon>credit_card</mat-icon><input #PaymentMethod i18n-placeholder placeholder="Payment Method"></td>
        </tr>
      </tbody>
    </table>
    <button class="buttun" (click)="CreateOrder(ShipmentAddress.value,PaymentMethod.value)" i18n>Order</button>



</div>